body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}



#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.Menu {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    z-index: 99;
    flex-wrap: wrap-reverse;
    backdrop-filter: blur(10px);
}



.logo img {
    position: fixed;
    left: 0;
    top: -60px;
    padding: 5% 5% 1% 5%;
    width: 120px;
    flex-shrink: 2;
    flex-wrap: wrap;
    z-index: 100;
}



.barre_menu {
    display: inline-flex;
    align-items: center;
    padding-right: 200px;
}



.reglage img {
    position: fixed;
    top: 40px;
    right: 90px;
    width: 50px;
    z-index: 100;
}

.reglage a:hover {
    cursor: pointer;
}



.barre_menu ul {
    display: flex;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    
}



.Menu li {
    display: inline-block;
    padding: 30px 30px;
    flex-shrink: 2;
}



.dropdown-child {
    display: none;
    min-width: 10px;
}



.dropdown-child a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child a {
    position: relative;
    text-decoration: none;
}

.dropdown-child a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.5s ease; /* Modification de la propriété de transition */
}

.dropdown-child a:hover:before {
    width: 100%;
}


a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



a:hover {
    color: gray;
    transition-duration: 0.5s;
}



#Presentation {
    display: flex;
}


#Presentation h2 {
    font-family: "Abel", sans-serif;
    font-size: 25px;
    color: white;
    position: relative;
    top: 250px;
    margin-left: 60px;
}

#Prise_rdv {
    background-color: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 510px;
    padding: 180px 0 150px 180px;
}

h3 {
    font-family: "Abel", sans-serif;
    font-size: 30px;
    padding-right: 100px;
}

#Prise_rdv img {
    padding: 50px;
    width: 600px;
}

#Exemple_planning {
    background-color: rgba(21, 58, 181, 0.742);
    display: flex;
    align-items: center;
    position: relative;
    top: 510px;
    padding: 230px 0 200px 180px;
}

#Exemple_planning h3 {
    order: 2;
}

#Exemple_planning img {
    width: 500px;
    margin-right: 200px;
    order: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 500px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.session_id {
    background-color: blue;
    color: white;
}