<!DOCTYPE html>
<html lang="en">
<head>
    <title>AccordEnergie </title>
    <link rel="stylesheet" href="/css/pageAccueil.css">
    <link rel="shortcut icon" href="/image/logo4.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <figure class="logo">
            <img src="/image/logo4.png">
        </figure>
        <figure class="reglage">
            <a href="Reglage.php">
                <img src="/image/reglage.png">
            </a>
        </figure>
    </header>
    <nav class="Menu">
        <div class="barre_menu">
            <ul>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="#">Accueil</a>
                        <div class="dropdown-child">
                            <a href="#Prise_rdv">Outils</a>
                            <a href="#Exemple_planning">Planning</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="#">Espace Intervenant</a>
                        <div class="dropdown-child">
                            <a href="PlanningIntervenant.php">Planning</a>
                            <a href="Deconnexion.php">Déconnexion</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="#">Contact</a>
                        <div class="dropdown-child">
                            <a href="Compte.php">Aide</a>
                            <a href="Recrutement.php">Recrutement</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    
    <section id="Presentation">
        <video id="video-background" autoplay loop muted>
            <source src="/image/fond2.mp4" type="video/mp4">
            Votre navigateur ne prend pas en charge la balise vidéo.
        </video>
        <h2>Simplifiez, organisez et<br> accélérez vos interventions avec AccordEnergie,<br>
            l'outil intelligent garantissant une efficacité optimale <br>à chaque étape 
            de vos opérations pour une excellence opérationnelle constante.
        </h2>
    </section>

     <section id="Prise_rdv">
        <h3>Simplifiez, organisez et
            accélérez vos interventions grâce à
            cet outil intelligent garantissant une efficacité optimale
            à chaque étape de vos opérations pour une excellence opérationnelle constante
        </h3>
        <img src="/image/schema.png">
    </section>

    <section id="Exemple_planning">
        <h3>Optimisez votre productivité avec notre outil de gestion d'interventions, transformez le chaos en efficacité avec un planning pratique et bien pensé!</h3>
        <img src="/image/planning.png">
    </section>

    <footer>
        <p>&copy; 2024 AccordÉnergie. Tous droits réservés.</p>
        <p>Adresse : 123 Rue de l'Énergie, Ville</p>
        <p>Téléphone : (123) 456-7890</p>
        <p>Email : info@accordenergie.com</p>
        <p>Site Web : <a href="https://www.accordenergie.com" target="_blank">www.accordenergie.com</a></p>
    </footer>

</body>
</html>
