<!DOCTYPE html>
<html lang="en">
<head>
    <title>AccordEnergie </title>
    <link rel="stylesheet" href="/css/commentaire.css">
    <link rel="shortcut icon" href="/image/logo4.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>

    <figure class="logo">
        <img src="/image/logo4.png" alt="logo">
    </figure>

    <figure class="reglage">
        <a href="Reglage.php">
            <img src="/image/reglage.png">
        </a>
    </figure>

    <header class="Menu">
        <div class="barre_menu">
            <ul>
                <li><a href="pageProfil.php">Accueil</a></li>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="#">Intervention</a>
                        <div class="dropdown-child">
                            <a href="PlanningClient.php">Planning</a>
                            <a href="Commentaire.php">Commentaire</a>
                        </div>
                    </li>
                </div>
                
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="Contact.php">Contact</a>
                        <div class="dropdown-child">
                            <a href="Aide.php">Aide</a>
                            <a href="Recrutement.php">Recrutement</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </header>

    <body>
    <div class="comment-container">
        <form action="Commentaire.php" method="post" enctype="multipart/form-data">
            <div class="comment-header">Commentaire</div>
            <div class="comment-text">
                <p><input type="text" name="message" placeholder="Entrez votre commentaire" required></p>
                <p><input type="submit" value="Envoyer" name="bouton" required></p>
            </div>
        </form>

        <table>
            {% for commentaire in commentaireInterventions %}
                <tr>
                    <td>{{ commentaire.prenom }}</td>
                    <td>: </td>
                    <td>{{ commentaire.message }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
