<!DOCTYPE html>
<html lang="en">
<head>
    <title>AccordEnergie </title>
    <link rel="stylesheet" href="/css/Mission.css">
    <link rel="shortcut icon" href="/image/logo4.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
<header>
        <figure class="logo">
            <img src="/image/logo4.png" alt="logo">
        </figure>
        <figure class="reglage">
            <a href="Reglage.php">
                <img src="/image/reglage.png">
            </a>
        </figure>
    </header>
    <nav class="Menu">
        <div class="barre_menu">
            <ul>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="standardiste.php">Accueil</a>
                    </li>
                </div>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="#">Intervention</a>
                        <div class="dropdown-child">
                            <a href="MissionStandardiste.php">Missions</a>
                            <a href="Commentaire.php">Commentaire</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li class="mainmenubtn"><a href="#">Contact</a>
                        <div class="dropdown-child">
                            <a href="Aide.php">Aide</a>
                            <a href="Recrutement.php">Recrutement</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

    <section id="Missions">
        <h1>Nos interventions</h1>
        <a href="Plomberie.php"><img src="/image/plomberie.jpg"></a>
    </section>

</body>
</html>