<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>AccordEnergie </title>
        <link rel="shortcut icon" href="/image/logo4.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/Register.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <figure class="logo">
            <img src="/image/logo4.png" alt="logo">
        </figure>
        <figure class="reglage">
            <a href="Reglage.php">
                <img src="/image/reglage.png">
            </a>
        </figure>
        <header class="Menu">
            <div class="barre_menu">
                <ul>
                    <li><a href="index.php">Accueil</a></li>
                    <div class="dropdown">
                        <li class="mainmenubtn"><a href="#">Intervention</a>
                            <div class="dropdown-child">
                                <a href="Missions.php">Missions</a>
                                <a href="Planning.php">Planning</a>
                                <a href="Commentaire.php">Commentaire</a>
                            </div>
                        </li>
                    </div>
                    <div class="dropdown">
                        <li class="mainmenubtn"><a href="Contact.php">Contact</a>
                            <div class="dropdown-child">
                                <a href="Aide.php">Aide</a>
                                <a href="Recrutement.php">Recrutement</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </header>
    
        <div class="Champ">
            <h1>Créer un compte AccordEnergie</h1>
            <form action="register.php" method="post" enctype="multipart/form-data">
                <p>
                    <select name="role" required>
                        <option value="">Sélectionnez votre rôle</option>
                        <option value="Client">Client</option>
                        <option value="Intervenant">Intervenant</option>
                    </select>
                </p>
                <p><input type = "text" name = "nom" placeholder="Entrez votre nom" required></p>
                <p><input type = "text" name = "prenom" placeholder="Entrez votre prenom" required></p>
                <p><input type = "email" name= "email" placeholder = "Entrez votre email" required></p>
                <p><input type = "password" name = "mdp" placeholder="Mot de passe" required></p>
                <p><input type = "text" name = "telephone" placeholder="Entrez votre numero" required></p>
                <p><input type = "submit" value = "Envoyer" name = "bouton" required></p>
                <span class="Connexion"><a href="login.php">Déjà inscrit?</a></span>
            </form><hr>
        </div>
    
    </body>
    </html>