<!DOCTYPE html>
<html lang="en">
<head>
    <title>AccordEnergie </title>
    <link rel="stylesheet" href="/css/Reglage.css">
    <link rel="shortcut icon" href="/image/logo4.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <h1>Réglage</h1>
    </header>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>Contenu de la fenêtre modale ici...</p>
        </div>
    </div>

    <div id="Quitter"><a href="index.php">X</a></div>

    <section id="Box_Option">
        <div id="Button_Container">
            <button onclick="openModal()">Mon Compte</button>
            <button onclick="openModal()">Supprimer Compte</button>
        </div>
    </section>

    <script>
        function openLoginModal() {
        }
    </script>
</body>
</html>
